body {
    cursor: default;
}

#intro {
    margin: 50px;
    height: 266px;
    display: flex;
    font-family: Gill Sans;
}

#prof-pic {
    width: 200px;
    height: 266px;
    margin-right: 50px;
    border-radius: 2px;
}

#intro #bio{
    height: 266px;
}

#intro h1 {
    font-weight: normal;
    font-size: 40px;
}

.description {
    font-size: 30px;
    font-weight: lighter;
}



#bar {
    margin: 20px;
    height: 40px;
    background: hsl(190, 60%, 70%);
    display: flex;
    text-align: center;
    border-radius: 2px;
}


#bar div{
    flex: 1;
    margin: 10px 0px 10px 0px;
}

.label {
    font-family: Gill Sans;
    font-size: 20px;
    text-align: center;
    transition: color 500ms;
}
/*Alternative use with <div> instead of <span>
.label {
    margin: 10px 90px 10px 90px;
    font-family: Gill Sans;
    font-size: 20px;
    text-align: center;
    transition: color 500ms;
    flex: 1;
}*/

#bar .label:hover {
    transition: 500ms;
    color: hsl(0,0%, 50%)
}

#content {
    margin: 50px;
    display: flex;
}